*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

:root{

    background-color: white;

}

header{

    display: flex;
    justify-content:center;
    background-color: silver;
    width: 1865px;
    height: 80px;
    align-items: center;

}

header a{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    text-decoration: none;
    color: black;
    font-weight: 700;

}

.hamburger{

    display: flex;
    position: absolute;
    top: 27px;
    left: 1400px;
    flex-direction: column;
    cursor: pointer;

}

.camada{

    width: 25px;
    height: 3px;
    margin: 3px 0;
    background-color: black;

}

.menu{

    display: flex;
    width: 200px;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    transition: 0.3s ease;
    background-color: red;
    justify-content: center;
    align-items: center;

}

.menu li{

    margin-top: 20px;

}

.menu a{

    color: white;

}